.header {
   background-color: #ffffff;
   &__grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 20px;
   }
   &__item {
      display: flex;
      img {
         padding-top: 8px;
         margin-right: 11px;
      }
      h2,
      p {
         margin-right: 30px;
      }
   }
}
