@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
   .container {
      width: 982px;
      padding: 0 20px 0 20px;
   }
   .header {
      &__grid {
         grid-template-columns: repeat(5, 1fr);
         column-gap: 20px;
      }
   }
   .firstSc {
      &__left {
         margin: 133px 80px 0 0;
         width: 400px;
      }
   }
   .cprengi {
      &__grid {
         grid-template: repeat(2, 255px) / repeat(2, 360px);
         justify-content: center;
         row-gap: 30px;
      }
   }
}

@media (max-width: 992px) {
   .container {
      width: 748px;
      padding: 0 10px 0 10px;
   }
   .firstSc {
      &__menu {
         li {
            margin-left: 15px;
         }
      }
      &__bottom {
         flex-direction: column;
      }
      &__left {
         margin: 40px 30px 0 0;
         width: 600px;
      }
   }
   .cprengi {
      &__grid {
         column-gap: 5px;
         row-gap: 5px;
      }
   }
}

@media (max-width: 768px) {
   .container {
      width: 556px;
      padding: 0 20px 0 20px;
   }
   .header {
      &__grid {
         grid-template: repeat(2, 1fr) / repeat(3, 1fr);
         gap: 10px;
      }
   }
   .firstSc {
      &__menu {
         flex-wrap: wrap;
         li {
            margin: 0 0 15px 20px;
            a {
               font-size: 13px;
               color: #ffffff;
            }
         }
      }
      &__bottom {
         flex-direction: column;
      }
      &__left {
         margin: 40px 30px 0 0;
         width: 350px;
      }
   }
   .cprengi {
      &__grid {
         grid-template: repeat(3, 255px) / repeat(1, 360px);
         row-gap: 20px;
      }
   }
}

@media (max-width: 576px) {
   .container {
      width: 320px;
      padding: 0 10px 0 10px;
   }
   .header {
      &__grid {
         grid-template: repeat(3, 1fr) / repeat(2, 1fr);
         gap: 10px;
      }
   }
   .firstSc {
      &__head {
         display: block;
      }
      &__menu {
         flex-wrap: wrap;
         li {
            flex-basis: 135px;
            margin: 0 0 15px 15px;
         }
      }
      &__bottom {
         flex-direction: column;
      }
      &__left {
         margin: 40px 30px 0 0;
         width: 350px;
      }
   }
   .cprengi {
      &__grid {
         grid-template: repeat(3, 212px) / repeat(1, 300px);
         row-gap: 20px;
         div {
            p {
               transform: translateY(300%);
            }
         }
      }
   }
}
