@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
   .container {
      width: 982px;
      padding: 0 20px 0 20px;
   }
   .header {
      &__grid {
         grid-template-columns: repeat(5, 1fr);
         column-gap: 20px;
      }
   }
   .firstSc {
      &__left {
         margin: 133px 80px 0 0;
         width: 400px;
      }
   }
   .cprengi {
      &__grid {
         grid-template: repeat(2, 255px) / repeat(2, 360px);
         justify-content: center;
         row-gap: 30px;
      }
   }
   .solution {
      h2 {
         width: 500px;
         line-height: 30px;
         font-size: 20px;
      }
      &__menu {
         max-width: 800px;
      }
      #gallery {
         .buttons .prev {
            top: -250px;
            left: -20px;
         }
         .buttons .next {
            top: -250px;
            right: -20px;
         }
      }
      #gallery .photos img {
         height: 400px;
      }
   }
}

@media (max-width: 992px) {
   .container {
      width: 748px;
      padding: 0 10px 0 10px;
   }
   .firstSc {
      &__menu {
         li {
            margin-left: 15px;
         }
      }
      &__bottom {
         flex-direction: column;
      }
      &__left {
         margin: 40px 30px 0 0;
         width: 600px;
      }
   }
   .cprengi {
      &__grid {
         column-gap: 5px;
         row-gap: 5px;
      }
   }
   .solution {
      h2 {
         width: 400px;
         line-height: 30px;
         font-size: 20px;
      }
      &__menu {
         max-width: 500px;
      }
      &__menu-item {
         a {
            font-size: 10px;
         }
      }
      #gallery {
         .buttons .prev {
            top: -170px;
            left: 0;
         }
         .buttons .next {
            top: -170px;
            right: 0;
         }
      }
      #gallery .photos img {
         height: 250px;
      }
   }
}

@media (max-width: 768px) {
   .container {
      width: 556px;
      padding: 0 20px 0 20px;
   }
   .header {
      &__grid {
         grid-template: repeat(2, 1fr) / repeat(3, 1fr);
         gap: 10px;
      }
   }
   .firstSc {
      &__menu {
         flex-wrap: wrap;
         li {
            margin: 0 0 15px 20px;
            a {
               font-size: 13px;
               color: #ffffff;
            }
         }
      }
      &__bottom {
         flex-direction: column;
      }
      &__left {
         margin: 40px 30px 0 0;
         width: 350px;
      }
   }
   .cprengi {
      &__grid {
         grid-template: repeat(3, 255px) / repeat(1, 360px);
         row-gap: 20px;
      }
   }
   .solution {
      h2 {
         width: 400px;
         line-height: 30px;
         font-size: 20px;
      }
      &__menu {
         margin-top: 25px;
         max-width: 380px;
         display: grid;
         grid-template: repeat(2, 54px) / repeat(3, 1fr);
      }
      &__menu-item {
         a {
            font-size: 10px;
         }
      }
      #gallery {
         .buttons .prev,
         .next {
            background-color: #ffffff;
         }
         .buttons .prev {
            top: -150px;
            left: -35px;
         }
         .buttons .next {
            top: -150px;
            right: -35px;
         }
      }
      #gallery .photos img {
         height: 220px;
      }
   }
}

@media (max-width: 576px) {
   .container {
      width: 320px;
      padding: 0 10px 0 10px;
   }
   .header {
      &__grid {
         grid-template: repeat(3, 1fr) / repeat(2, 1fr);
         gap: 10px;
      }
   }
   .firstSc {
      &__head {
         display: block;
      }
      &__menu {
         flex-wrap: wrap;
         li {
            flex-basis: 135px;
            margin: 0 0 15px 15px;
         }
      }
      &__bottom {
         flex-direction: column;
      }
      &__left {
         margin: 40px 30px 0 0;
         width: 350px;
      }
   }
   .cprengi {
      &__grid {
         grid-template: repeat(3, 212px) / repeat(1, 300px);
         row-gap: 20px;
         div {
            p {
               transform: translateY(300%);
            }
         }
      }
   }
   .solution {
      h2 {
         width: 300px;
         line-height: 30px;
         font-size: 20px;
      }
      &__menu {
         margin-top: 25px;
         max-width: 300px;
         display: grid;
         grid-template: repeat(2, 54px) / repeat(3, 1fr);
      }
      &__menu-item {
         a {
            font-size: 10px;
         }
      }
      #gallery {
         margin: 30px auto;
         .buttons {
            margin: 20px auto;
         }
         .buttons .prev,
         .next {
            height: 40px;
         }
         .buttons .prev {
            top: 0px;
            left: -50px;
         }
         .buttons .next {
            top: 0px;
            right: -50px;
         }
      }
      #gallery .photos img {
         height: 160px;
      }
   }
}
