.options {
   margin-top: 80px;
   padding-top: 79px;
   background: url("../../img/options/options_bg.png") center center/cover
      no-repeat;
   height: 580px;
   .wrapper {
      display: flex;
   }
   h2 {
      max-width: 375px;
      text-align: center;
      font-size: 30px;
      line-height: 35px;
   }
   &_left {
      width: 50%;
      h2 {
         max-width: 100%;
         margin: 110px 0 0 auto;
         text-align: right;
         padding-right: 70px;
      }
      p {
         margin-top: 20px;
         font-size: 18px;
         line-height: 26px;
         font-weight: 300;
         color: #ffffff;
         text-align: right;
         padding-right: 70px;
      }
   }
   &_right {
      width: 50%;
      h2 {
         max-width: 100%;
         margin: 110px auto 0 0;
         padding-left: 70px;
         text-align: left;
      }
      p {
         margin-top: 20px;
         padding-left: 70px;
         font-size: 18px;
         line-height: 26px;
         font-weight: 300;
         color: #ffffff;
         text-align: left;
      }
   }
}
