.slick-track {
   display: flex;
}
.slick-list {
   overflow: hidden;
}
.slider {
   position: relative;
   margin-top: 31px;
   max-width: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
}
//min-width: 0;
.slick-arrow {
   position: relative;
   margin: -30px 0px 0px 0px;
   z-index: 10;
   font-size: 0;
   height: 46px;
   width: 14px;
   border: none;
}
.slick-prev {
   position: absolute;
   left: 250px;
   top: 60px;
   background: url("../../icons/prev.png") 0 0 / 100% no-repeat;
}
.slick-next {
   position: absolute;
   right: 250px;
   top: 60px;
   background: url("../../icons/next.png") 0 0 / 100% no-repeat;
}
.slider__item {
   text-align: center;
   h3 {
      margin-top: 13px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      color: #3a3a3a;
   }
   p {
      max-width: 605px;
      font-size: 14.1px;
      font-weight: 300;
   }
}
